#fees {
  float: left;
  height: 250px;
  width: 100;
  padding: 10px;
}

.fees {
  float: left;
  width: 50%;
  border: 3px solid lightblue;
  padding: 10px;

}
.labor {
  float: left;
  width: 50%;
  border: 3px solid lightblue;
  padding: 10px;

}

h2 {
  color: lightblue;
  text-align: left;
}
.labor-charges {
  background: darkgray;
  padding: 10px;
  border: 3px solid lightblue;
  min-width: 110px;
  width: 50%;
}



