
h2 {
  color: white;
  text-align: left;
}

#checckboxes {
  float: left;
  height: 400px;
  width: 500;
  padding: 15px;
}

.services1{
  float: left;
  height: 400px;
  width: 500;
  padding: 15px;
}
