
h2 {
  color: lightblue;
  text-align: left;
}

#checkboxes {
  float: left;
  height: 250px;
  width: 300;
  padding: 10px;
  background: darkgray;
  border: 3px solid lightblue;
}

.services {
  float: left;
  height: 350px;
  width: 300;
  padding: 10px;
  background: darkgray;
  border: 3px solid lightblue;
  width: 50%;
}
.services1{
  float: left;
  padding: 10px;
  border: 3px solid lightblue;
}
